<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Stage Template | 6.2019</title>
  <link rel="stylesheet" href="./assets/css/normalize.css">
  <link rel="stylesheet" href="./assets/css/fonts.css">
  <link rel="stylesheet" href="./assets/css/variables.css">
  <link rel="stylesheet" href="./assets/css/ptyp.css">
  <link rel="stylesheet" href="./assets/css/style.css">
</head>

<body class="text-HelveticaNeueW01-45Light">
  <main class="main">
    <!-- TOP BAR -->
    <div class="topbar flex justify-between fixed">
      <div class="left-side flex row align-center">
        <div class="wix_logo topbar-item flex row justify-center align-center ">
          <img src="./assets/img/wixLogo.svg">
        </div>
        <div
          class="page_selector topbar-item flex row justify-between align-center text-HelveticaNeueW01-55Roman bordered">
          <div class="text">
            Page: <span class="text-HelveticaNeueW01-45Light">HOME</span>
          </div>
          <img src="./assets/img/downChev_blue.svg">
        </div>
        <div class="viewport-icons flex row bordered">
          <div class="topbar-item viewport-mode flex align-center selected">
            <img src="./assets/img/desktop_icon.svg" alt="">
          </div>
          <div class="topbar-item viewport-mode flex align-center">
            <img src="./assets/img/mobile_icon.svg" alt="">
          </div>
        </div>
        <div class="text-links flex row justify-between bordered">
          <div class="topbar-item flex row flex justify-center align-center">
            <span class="item-text">Site</span>
          </div>
          <div class="topbar-item flex row flex justify-center align-center">
            <span class="item-text">Settings</span>
          </div>
          <div class="topbar-item flex row flex justify-center align-center">
            <span class="item-text">Tools</span>
          </div>
          <div class="topbar-item flex row flex justify-center align-center">
            <span class="item-text">Dev Mode</span>
          </div>
          <div class="topbar-item flex row flex justify-center align-center">
            <span class="item-text">Help</span>
          </div>
          <div class="topbar-item flex row flex justify-center align-center">
            <span class="item-text">Upgrade</span>
          </div>
        </div>
      </div>
      <div class="right-side flex row align-center ">
        <div class="topbar-item icon-item flex justify-center align-center bordered">
          <img src="./assets/img/zoom_out.svg">
        </div>
        <div class="topbar-item icon-item flex justify-center align-center bordered">
          <img src="./assets/img/undo.svg">
        </div>
        <div class="topbar-item icon-item flex justify-center align-center bordered">
          <img src="./assets/img/redo.svg">
        </div>
        <div class="topbar-item flex row flex justify-center align-center bordered">
          <span class="item-text">Save</span>
        </div>
        <div class="topbar-item flex row flex justify-center align-center bordered">
          <span class="item-text">Preview</span>
        </div>
        <div class="topbar-item flex row flex justify-center align-center bordered">
          <span class="item-text">Publish</span>
        </div>
      </div>
      <div class="hide-tools-button flex justify-center align-center fixed">
        <img src="./assets/img/chev_black_small.svg">
      </div>
    </div>
    <!-- ENDOF TOP BAR -->
    
    <!-- LEFT BAR -->
    <div class="leftbar fixed">
      <div class="leftbar-item leftbar-item-pages flex justify-center align-center">
        <img src="./assets/img/leftBar_pages_icon.svg" style="left:13px; top:11px;">
        <span class="item-text">
          Menus & Pages
        </span>
      </div>
      <div class="leftbar-item leftbar-item-bg flex justify-center align-center">
        <img src="./assets/img/leftBar_background_icon.svg" style="left:12px; top:11px;">
        <span class="item-text">
          Background
        </span>
      </div>
      <div class="leftbar-item leftbar-item-add flex justify-center align-center">
        <img src="./assets/img/leftBar_add_icon.svg" style="left:11px; top:11px;">
        <span class="item-text">
          Add
        </span>
      </div>
      <div class="leftbar-item leftbar-item-apps flex justify-center align-center">
        <img src="./assets/img/leftBar_apps_icon.svg" style="left:11px; top:11px;">
        <span class="item-text">
          Add Apps
        </span>
      </div>
      <div class="leftbar-item leftbar-item-media flex justify-center align-center">
        <img src="./assets/img/leftBar_media_icon.svg" style="left:12px; top:13px;">
        <span class="item-text">
          Media
        </span>
      </div>
      <div class="leftbar-item leftbar-item-blog flex justify-center align-center">
        <img src="./assets/img/leftBar_blog_icon.svg" style="left:15px; top:11px;">
        <span class="item-text">
          Start Blogging
        </span>
      </div>
      <div class="leftbar-item leftbar-item-marketing flex justify-center align-center">
        <img src="./assets/img/leftBar_emailMarketing_icon.svg" style="left:11px; top:13px;">
        <span class="item-text">
          Email Marketing
        </span>
      </div>
      <div class="leftbar-item leftbar-item-booking flex justify-center align-center">
        <img src="./assets/img/leftBar_booking_icon.svg" style="left:11px; top:9px;">
        <span class="item-text">
          Bookings
        </span>
      </div>
      <div class="leftbar-item leftbar-item-data flex justify-center align-center">
        <img src="./assets/img/leftBar_data_icon.svg" style="left:14px; top:11px;">
        <span class="item-text">
          Data
        </span>
      </div>



    </div>
    <!-- ENDOF LEFT BAR -->

    <!-- STAGE -->
    <div class="stage"></div>
  </main>


</body>

</html>